.NavBar2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-shadow: 3px 6px 10px lightgray;
    background-image: linear-gradient( to left, white, gray);
}

.jor1{
    position: relative;
    left: 20px;
    top: 0;
}

.jorImg{
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    left: 65%;
}

.shopping{
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    top: 0;
    right: 20px;
    width: 180px;
    height: 50px;
    cursor: pointer;
}


p{
    position: relative;
    top: 10px;
    right: 10px;
    font-family: "Teko";
    font-size: 20px;
    cursor: pointer;
}


.MainCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    height: 490px;
    /* box-shadow: 2px 2px 12px gray ;
    background-color: rgb(247, 243, 243); */
    margin-top: 50px;
}


.shoeBox{
    display: flex;
    justify-content: center;
    width: 310px;
    height: 230px;
    border-radius: 10px;
    padding: 10px;
}

.Shoe1{
    border-radius: 10px;
    width: 330px;
    height: 240px;

}


.Np2{
   
    font-family: "Teko";
    font-size: 30px;
    cursor: pointer;
}

.arrow{
    width: 250px;
    background: none;
    font-family: "Teko";
    font-size: 20px;
}
